@charset "UTF-8";

/* CSS Document */

body{font-family:'맑은 고딕','malgun gothic','돋움',dotum,sans-serif;
	font-size:12px;}

.clearfix:after{content:'';display:block;clear:both;}

/*header*/
.header{width:160px;height:100%;background:#000;
        position:fixed;left:0;top:0;
        min-height:600px;}
.header h1 a{display:block;background:url("./../images/layout_sprites.png") no-repeat 0 0;
            width:106px;height:36px;text-indent:-9999px;
            margin-top:64px;margin-left:27px;}        
.header .gnb{margin-left:27px;margin-top:70px;}
.header .gnb li{margin-bottom:10px;}
.header .gnb li a.menu1{display:block;
                        background:url("./../images/layout_sprites.png") no-repeat 0 -60px;
                        width:100px;height:20px;text-indent:-999px;}
.header .gnb li a.menu2{display:block;
                        background:url("./../images/layout_sprites.png") no-repeat 0 -96px;
                        width:100px;height:20px;text-indent:-999px;}
.header .gnb li a.menu3{display:block;
                        background:url("./../images/layout_sprites.png") no-repeat 0 -137px;
                        width:100px;height:20px;text-indent:-999px;}                        
.header .gnb li a.menu4{display:block;
                        background:url("./../images/layout_sprites.png") no-repeat 0 -178px;
                        width:100px;height:20px;text-indent:-999px;}
.header .gnb li a.menu5{display:block;
                        background:url("./../images/layout_sprites.png") no-repeat 0 -218px;
                        width:100px;height:20px;text-indent:-999px;}    
.header .gnb li a:hover{background-position-x:-149px;}                                            

.header address{color:#fff;font-size:10px;letter-spacing:0.8px;
                background:url("./../images/layout_sprites.png") no-repeat 0 bottom;
                width:120px;height:11px;text-indent:-9999px;
                position:absolute;left:15px;bottom:20px;}       

.main{width:100%;height:100%;padding-left:200px;}    

           

.main .intro_box{width:100%;overflow:hidden;margin-top:170px;}

.main .intro_box .line1{position:relative;width:721px;height:102px;overflow:hidden;}
.main .intro_box .line1 .bg_01{position:absolute;right:-721px;top:0;}
.main .intro_box .line1 .tex_01{position:absolute;right:-721px;top:0;}

.main .intro_box .line2{position:relative;width:721px;height:102px;overflow:hidden;margin-top:20px;}
.main .intro_box .line2 .bg_02{position:absolute;right:-721px;top:0;}
.main .intro_box .line2 .tex_02{position:absolute;right:-721px;top:0;}

.main .intro_box .line3{position:relative;width:721px;height:102px;overflow:hidden;margin-top:20px;}
.main .intro_box .line3 .bg_03{position:absolute;right:-721px;top:0;}
.main .intro_box .line3 .tex_03{position:absolute;right:-721px;top:0;}

.main .intro_box .line4{position:relative;width:721px;height:102px;overflow:hidden;margin-top:20px;}
.main .intro_box .line4 .bg_04{position:absolute;right:-721px;top:0;}
.main .intro_box .line4 .tex_04{position:absolute;right:-721px;top:0;}

.main .intro_box .line5{position:relative;width:721px;height:102px;overflow:hidden;margin-top:20px;}
.main .intro_box .line5 .bg_05{position:absolute;right:-721px;top:0;}
.main .intro_box .line5 .tex_05{position:absolute;right:-721px;top:0;}


.main .box{width:500px;height:300px;border:1px solid #000;margin-top:-550px;position:relative;overflow:hidden;margin-left:200px;}
.main .box .tit{position:absolute;left:-500px;top:40%;}     
.main .box .photo{position:absolute;right:0;bottom:-500px;}  